:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}

body {
  margin: 0;
}

.unstyled-list {
  list-style: none;
  padding: 0;
}

.section {
  padding: 2rem 0;
  width: min(2000px, 75%) !important;
  margin: 0 auto;

  z-index: 1;
  position: relative;

  background-color: white;
}
